.container {
  background-color: var(--background-dark-700);
  display: flex;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
}

.characterName {
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(168, 168, 168);
}

.input {
  background-color: transparent;
  width: 100%;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  text-transform: capitalize;
}